<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <venbhas_filtermultiselect>
            <general>
                <enabled>1</enabled>
                <multiselect_globally>1</multiselect_globally>
            </general>
        </venbhas_filtermultiselect>
    </default>
</config>
