<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Replace core Filter Item class with our multi-select version -->
    <preference for="Magento\Catalog\Model\Layer\Filter\Item"
                type="Venbhas\FilterMultiselect\Model\Layer\Filter\Item"/>

    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute"
                type="Venbhas\FilterMultiselect\Model\Layer\Filter\Attribute"/>

    <!-- Inject dependencies into Item class for URL generation -->
    <type name="Venbhas\FilterMultiselect\Model\Layer\Filter\Item">
        <arguments>
            <argument name="url" xsi:type="object">Magento\Framework\UrlInterface</argument>
            <argument name="htmlPagerBlock" xsi:type="object">Magento\Theme\Block\Html\Pager</argument>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http</argument>
        </arguments>
    </type>

    <!-- Inject dependencies into Attribute class for multi-select filter logic -->
    <type name="Venbhas\FilterMultiselect\Model\Layer\Filter\Attribute">
        <arguments>
            <argument name="filterItemFactory" xsi:type="object">Magento\Catalog\Model\Layer\Filter\ItemFactory</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="layer" xsi:type="object">Magento\Catalog\Model\Layer</argument>
            <argument name="itemDataBuilder" xsi:type="object">Magento\Catalog\Model\Layer\Filter\Item\DataBuilder</argument>
            <argument name="tagFilter" xsi:type="object">Magento\Framework\Filter\StripTags</argument>
        </arguments>
    </type>

</config>
