<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="product_attribute_form_build_front_tab">
        <observer name="venbhas_filtermultiselect_front_tab_field"
                  instance="Venbhas\FilterMultiselect\Observer\Adminhtml\ProductAttributeFormBuildFrontTabObserver"/>
    </event>
</config>
